<div class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-narrow">
            <figure class="image is-128x128">
              <img src="assets/develop.svg">
            </figure>
        </div>
        <div class="column">
            <h1 class="title"> The Users </h1>
            <h2 class="subtitle"> Manage the users </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <table class="table">
          <tr>
            <td>Max</td>
          </tr>
          <tr>
            <td>Anna</td>
          </tr>
          <tr>
            <td>Chris</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>  
