<div class="hero is-light">
  <div class="container">
    <div class="hero-body">
      <h1 class="title">
        Users
      </h1>
      <h2 class="subtitle">
        Manage the users
      </h2>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <table class="table">
          <tr>
            <td>Max</td>
          </tr>
          <tr>
            <td>Anna</td>
          </tr>
          <tr>
            <td>Chris</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>  
