
<form [formGroup]="newProjectForm" [@formState]="newProjectForm.value">

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Nome</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <input type="text" formControlName="title" name="title" id="title" class="input" required>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Descrição</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <input type="text" formControlName="description" name="description" id="description" class="input" required>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Status</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select name="status" formControlName="status" id="status">
              <option value="active">Active</option>
              <option value="critical">Critical</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-grouped is-grouped-right">
    <p class="control">
      <button type="submit" (click)="registerNewProject(newProjectForm.value)" [disabled]="newProjectForm.invalid" [@buttonState]="newProjectForm.invalid ? 'invalid' : 'valid'" class="button is-primary">Create Project</button>
    </p>
    <p class="control">
      <button type="button" class="button is-light">Cancel</button>
    </p>
  </div>
</form>
