.inactive {
  border: 1px solid #CCC;
}

.marked {
  border: 3px solid #337ab7;
  animation: marked .3s ease-out forwards;
}

@keyframes marked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}