<div class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-narrow">
            <figure class="image is-128x128">
              <img src="/assets/table.svg">
            </figure>
        </div>
        <div class="column">
            <h1 class="title"> My Projects </h1>
            <h2 class="subtitle"> Manage the projects </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">

  <div class="columns">
    <div class="column">
      <div class="container">
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button *ngIf="!createNew" class="button is-warning" (click)="createNew = true">
              New Project
            </button>
          </p>
          <p class="control">
            <button *ngIf="createNew" class="button is-danger" (click)="createNew = false">
              Cancel
            </button>
          </p>
        </div>
        <app-new-project *ngIf="createNew" @showForm></app-new-project>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="loading-bar" *ngIf="!projects">
      <div class="loading-bar-element"></div>
    </div>
    
    <app-project 
      *ngFor="let prj of projects; let i = index;" 
      [project]="prj" 
      [@itemEnter]="createNew ? 'slideDown' : 'slideUp'"
      [@selectProj]="markedPrjIndex === i ? 'selected' : 'unselected'" 
      [ngClass]="{inactive: prj.status === 'inactive'}" 
      (click)="markedPrjIndex = i">
    </app-project>

    <!-- <app-project *ngFor="let prj of projects; let i = index | desc" [project]="prj" @itemManipulation (@itemManipulation.start)="onAnimationStart($event)"
      (@itemManipulation.done)="onAnimationDone($event)" [@selectProj]="markedPrjIndex === i ? 'selected' : 'unselected'" [ngClass]="{inactive: prj.status === 'inactive'}"
      (click)="markedPrjIndex = i">
    </app-project> -->
  </div>
</section>

