<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://cdn.worldvectorlogo.com/logos/ngk-1.svg" alt="Logo da Bagaça" width="112" height="28">
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
          <a class="navbar-item" [routerLink]="['/']">Projects</a>
          <a class="navbar-item" [routerLink]="['/users']">Users</a>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
