<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a [routerLink]="['/']">
        <img src="/assets/logo.svg" alt="Logo da Bagaça" width="62" height="62">
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
          <a class="navbar-item" [routerLink]="['/']">Projects</a>
          <a class="navbar-item" [routerLink]="['/users']">Users</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
