<div class="content">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h3>{{ project.title }}</h3>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <h3><span class="tag is-medium" [ngClass]=getPrjStatusClass()>{{ project.status }}</span></h3>
      </div>
    </div>
  </div>
  <hr>
  <p>{{ project.description }}</p>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <form [formGroup]="statusForm">
          <div class="field has-addons has-addons-left">
            <p class="control">
              <span class="select">
                <select formControlName="status">
                  <option value="active" [selected]="project.status === 'active'">Active</option>
                  <option value="inactive" [selected]="project.status === 'inactive'">Inactive</option>
                  <option value="critical" [selected]="project.status === 'critical'">Critical</option>
                </select>
              </span>
            </p>
            <p class="control">
              <button class="button is-warning" (click)="onUpdateStatus(project, statusForm.value.status)">Update Status</button>
              <button class="button is-danger" (click)="onDelete(project)">
                <img src="/assets/trash.svg" class="image is-24x24" alt="">
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <div class="field">
          <p class="control">
            <a class="button is-light" >Project Tasks</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

