:host {
  display: inline-block;
  /* Estilo aplicado via Angular Animations */
  /* height: 65px; */
  margin-bottom: 1em;
  margin-right: 1%;
  padding: 1em;
  /* Estilo aplicado via Angular Animations */
  /* border: 1px solid #CCC; */
  overflow: hidden;
  box-shadow: 2px 2px 5px 1px #CCC;
  /* Estilo aplicado via Angular Animations */
  /* transition: all .1s ease-in-out; */
  width: 49%;
}

/* Faz com que o box de projetos se desloque um pouco para cima */
/* e para esquerda, aumentando a sombra. Isto cria um efeito que */
/* o box esta se projetando para cima durante o mouse-over */
/* :host:hover{
  margin: -5px 5px 1em 0;
  box-shadow: 8px 8px 10px #CCC;
  transition: all .1s ease-in-out;
} */

/* Estilo aplicado via Angular Animations */
/* :host(.marked){
  padding: .8em;
  height: 205px;
} */

:host(.inactive){
  color: #CCC;
  box-shadow: none;
  border: 1px solid #CCC;
}

:host(.inactive) h3{
  color: #CCC;
}

.form-control{
  display: inline-block;
  width: 50%;
}

.project__details-link{
  img{
    width: 30px;
    transform: rotate(90deg);
  }
}