<div class="content">
  <h3>
    {{ project.name }}
    <!-- Show different usages of ngClass and ngStyle"-->
    <span class="tag is-medium" [ngClass]=getPrjStatusClass()>{{ project.status }}</span>
  </h3>
  <hr>
  <p>{{ project.description }}</p>
  <div class="field has-addons has-addons-left">
    <p class="control">
      <span class="select">
          <select #prjStatus>
            <option value="active" [selected]="project.status === 'active'">Active</option>
            <option value="inactive" [selected]="project.status === 'inactive'">Inactive</option>
            <option value="critical" [selected]="project.status === 'critical'">Critical</option>
          </select>
      </span>
    </p>
    <p class="control">
      <button class="button is-warning" (click)="onUpdateStatus(prjStatus.value)">Update Status</button>
      <button class="button is-danger" (click)="onDelete()">Delete Project</button>
    </p>
  </div>
</div>

